<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">The Worldly Wanderer</a>
            <ul class="center-nav-items">
                <li><a href="/">HOME</a></li>
                <li><a href="/regions">REGIONS</a></li>
                <li><a href="/destinations">DESTINATIONS</a></li>
            </ul>
        </div>
    </nav>
    <h1>{{.Message}}</h1>
</body>
</html>
